
-- ============================================================
-- ESQUEMA: Paisaje y Biodiversidad en la Cuenca del Papaloapan
-- ============================================================

-- Extensión espacial (requiere PostGIS)
CREATE EXTENSION IF NOT EXISTS postgis;

-- ------------------------------------------------------------
-- ESPECIES
-- ------------------------------------------------------------
CREATE TABLE especies (
    especie_id          SERIAL PRIMARY KEY,
    nombre_cientifico   VARCHAR(255) NOT NULL,
    nombre_comun_es     VARCHAR(255),
    nombre_comun_en     VARCHAR(255),
    familia             VARCHAR(100),
    orden               VARCHAR(100),
    estatus_iucn        VARCHAR(50),
    dependiente_bosque  BOOLEAN
);

-- ------------------------------------------------------------
-- LOCALIDADES
-- ------------------------------------------------------------
CREATE TABLE localidades (
    localidad_id    SERIAL PRIMARY KEY,
    nombre          VARCHAR(255),
    geometria       GEOMETRY(POINT, 4326),
    municipio       VARCHAR(100),
    estado          VARCHAR(100),
    elevacion_m     FLOAT
);

-- ------------------------------------------------------------
-- OBSERVACIONES
-- ------------------------------------------------------------
CREATE TABLE observaciones (
    obs_id              SERIAL PRIMARY KEY,
    especie_id          INT REFERENCES especies(especie_id),
    localidad_id        INT REFERENCES localidades(localidad_id),
    fecha_observacion   DATE,
    id_observador       VARCHAR(100),
    fuente              VARCHAR(20) CHECK (fuente IN ('ebird', 'gbif'))
);

-- ------------------------------------------------------------
-- CELDAS DE COBERTURA
-- ------------------------------------------------------------
CREATE TABLE cat_celdas_cobertura (
    celda_id    SERIAL PRIMARY KEY,
    geometria   GEOMETRY(POLYGON, 4326),
    municipio   VARCHAR(100)
);

-- ------------------------------------------------------------
-- COBERTURA POR AÑO
-- ------------------------------------------------------------
CREATE TABLE cobertura_yearly (
    id                      SERIAL PRIMARY KEY,
    celda_id                INT REFERENCES cat_eldas_cobertura(celda_id),
    serie_inegi             VARCHAR(5),
    anio_imagen             INT,
    anio_publicacion        INT,
    descripcion             VARCHAR(255),   -- texto original INEGI
    clase_cobertura         VARCHAR(50),    -- 'selva', 'bosque', 'agricultura',
                                            -- 'pastizal', 'asentamiento',
                                            -- 'agua', 'manglar', 'otro'
    tipo_cobertura          VARCHAR(100),   -- 'selva_alta_perennifolia', etc.
    etapa_sucesional        VARCHAR(20),    -- 'primaria', 'sec_arborea',
                                            -- 'sec_arbustiva', 'sec_herbacea'
    es_forestal             BOOLEAN,
    es_vegetacion_nativa    BOOLEAN
);

-- ------------------------------------------------------------
-- UNIÓN ESPACIAL MATERIALIZADA
-- ------------------------------------------------------------
CREATE TABLE obs_cobertura (
    obs_id      INT REFERENCES observaciones(obs_id),
    celda_id    INT REFERENCES celdas_cobertura(celda_id),
    PRIMARY KEY (obs_id, celda_id)
);

-- ------------------------------------------------------------
-- ÍNDICES ESPACIALES
-- ------------------------------------------------------------
CREATE INDEX idx_localidades_geometria
    ON localidades USING GIST (geometria);

CREATE INDEX idx_celdas_geometria
    ON celdas_cobertura USING GIST (geometria);

CREATE INDEX idx_cobertura_anio
    ON cobertura_yearly (anio_imagen);

CREATE INDEX idx_cobertura_clase
    ON cobertura_yearly (clase_cobertura);

CREATE INDEX idx_observaciones_fecha
    ON observaciones (fecha_observacion);